.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.avatar {

    height: 50px;
    border-radius: 50%;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog {

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {

}