.header {
    grid-area: header;
    padding: 10px;
    background-color: #06B6FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    display: flex;
}
.login h3 {
    padding-right: 20px;
}

.header img {
    height: 100%;
}

.navLink {
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}