.nav {
    grid-area: navBar;
    background-color: white;
    text-decoration: none;
    color: gold;
}

.nav .activeLink {
    text-decoration: none;
    color: black;
}

.item {
    color: blue;
    text-decoration: none;
}
